html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding-top: 70px;
}

nav {
  background-color: rgba(1, 3, 15, 1);
}

.project-row {
  padding-top: 50px;
}

img {
  max-width: 100%;
  border-radius: 2%;
}

.nav-link {
  color: white;
  font-size: 125%;
}

.nav-link:hover {
  color: rgb(133, 129, 129);
}

.brand {
  color: white;
  font-size: 175%;
}

.description {
  padding-bottom: 8%;
}

h2 {
  color: rgba(1, 3, 15, 0.904);
  padding-bottom: 5%;
}

.form-div {
  margin-top: 50px;
  background-color: rgba(231, 230, 228, 0.877);
  padding-bottom: 15px;
  padding-top: 10px;
}

.success-div {
  margin-top: 50px;
  padding-top: 100px;
}

.form-div h2 {
  padding-bottom: 10px;
}

#honey-pot {
  display: none;
}

.center {
  margin: auto;
  width: 50%;
}

.form-h2 {
  padding: 10px;
}

section {
  padding-top: 40px;
  min-height: 100vh;
}
